*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    position: fixed;
    z-index: 1;  
}

header ul{
    text-align: right;
    padding: 20px;
}

header li{
    text-align: center;


}
header ul li{
    margin-right: 1.3rem;
    display: inline-block;
}

header ul li a {
    width: 50px;
    height: 50px;
    padding: 5px;
    font-weight: bolder;
    border-radius: 50%;
    text-decoration: none;
    background-color: white;
    display: block;
    font-size: 2rem;
}

a:hover{
    background-color: rgb(139, 111, 177);
    color: blue;
}

section.bg-red{
    background-color: rgb(255, 0, 0);
    width: 100vw;
    height:calc(100vh);
    position: relative;
    text-align: center;
}

section img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


section.bg-green{
    background-color: rgb(0, 250, 0);
    width: 100vw;
    height: 100vh;
    position: relative;
    height:calc(100vh);
}

section.bg-yellow{
    background-color: rgb(255, 255, 0);
    width: 100vw;
    height: 100vh;
    position: absolute;
    height:calc(100vh);
}

h1{
    position: absolute;
    transform:translate(-50% , -50%);
    top: 70%;
    left: 50%;
    width: 20%;
    color: yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 3.3rem;
    margin-top: 3rem;
    }

    section.bg-yellow h1{
    color: green;
    }

    ul {
        animation-duration: 1s;
        animation-name: slidein;
    }
    @keyframes slidein {
        from {
        margin-left: 100%;
        width: 300%;
        }
        75% {
        font-size: 300%;
        margin-right: 25%;
        width: 150%;
        }
        to {
        margin-right: 0%;
        width: 100%;
        }
    }